@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e4e9f7;
}

.bg-img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-second {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 40px;
    width: 450px;
}

.form-box header {
    font-size: 30px;
    font-weight: 600;
}

.container p, .container-second p {
    margin: -14px;
}

.container p span, .container-second p span {
    background-color: #fff;
    padding: 0 15px;
    color: grey;
    font-size: 14px;
}


.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

label {
    padding: 5px 0;
}


.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn{
    height: 35px;
    background: #4C5FD5;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 10px;
}


.goback a, .goback i {
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 10px;
}

.goback a{
    padding-left: 45px;
    padding-top: 12px;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.82;
}

.submit {
    width: 100%;
}

.links {
    margin: 15px;
}

.message {
    margin-top: 15px;
    margin-left: 15px;
}

.but{
    background: #4C5FD5;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 10px 20px;
}

select, option{
    padding: 10px 0;
    font-size: 15px;
}


.container-attendance {
    flex-direction: column;
    position:absolute;
    top: 40%;
    left: 45%;
}
.btn-attendance {
    height: 35px;
    background: #4C5FD5;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
}
.btn-attendance:hover {
    opacity: 0.82;
}

.change {
    margin: 20px 0;
}

.error, .success {
    padding-left: 15px;
}
.error {
    color: red;
}
.success{
    color: green;
}